* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: black
 
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 4rem;
  text-align: center;
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 2rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
}

.sub {
  background-image: linear-gradient();
  padding-bottom: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  border: 0.1rem solid rgba(0, 0, 0, 0.7);
}

.sub p {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: x-large;
}
p{
  background-color: aliceblue;
  border: 1px solid blueviolet;
  border-radius: 14px;
  margin-top: -0.5rem;
  font-family: 'Courier New', Courier, monospace;
}
p:hover{
 background-color: blueviolet;
}

a img {
  max-width: 500px;
  object-fit: cover;
  border-radius: 13px;

}
